@font-face {
font-family: 'Montserrat-Light';
src: url('../fonts/Montserrat-Light.ttf') format('truetype');
font-weight: 300;
font-style: regular;
font-display: swap;
}


#bodyy {
    background-image: url('/images/bg.png');
    background-position: 0px 0px;
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;
}

.montserrat {
    font-family: Montserrat-Light, sans-serif;
}
.Poppitandfinch {
    font-family: Montserrat-Bold, sans-serif;
}
  
.Poppitandfinchsans {
    font-family: Montserrat-Bold, sans-serif;
}

.text-blau {
    color: #13c5eb;
}

.bg-blau {
    background-color: #13c5eb;
}
